@media only screen and (max-width: 1199px) {
    img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 991px) {
    img {
        width: 100%;
        height: 100%;
    }
    #container {
        margin: 0;
        max-width: 100%;
    }
}
/* Dopracować ten margines po prawej stronie */
@media only screen and (max-width: 767px) {
    img {
        width: 100%;
        height: 100%;
    }
    #container {
        max-width: 755px;
        margin: 0;
    }
}

@media only screen and (max-width: 480px) {
    img {
        width: 100%;
        height: 100%;
    }

    #date-post {
        padding-left: 15px;
    }

    #time-post {
        padding-left: 15px;
    }

}
/* Za duzy naglowek na 325px i w dół -
Zając sie tym później,
albo jesli zostanie zwrocona uwaga */
@media only screen and (max-width: 325px) {
     div.text-dark{
    }
}